name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      - name: Install dependencies
        run: |
          npm install -g npm@latest
          npm ci
          npx playwright install

      - name: Linting & Type check
        run: npm run lint

      - name: Run tests
        run: npm run test

      - name: Build packages
        run: npm run build

      - name: Validate
        run: npx @arethetypeswrong/cli --pack . --ignore-rules=no-resolution
